html{
    text-align: center;
    background-color:aqua;
    
}
.red-text {
    color: red;
}
.blue-text {
    color:blue;
}
.green-text {
    color:hwb(150 1% 78%);
}
h1{
    font-weight: bold;
}
.Dealer{
    margin-right: 85%;
    font-size: 18px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
}
.Player{
    margin-right: 85%;
    font-size: 18px;
    font-weight: 900;
    font-family:'Courier New', Courier, monospace;
}
#high-low-topic{
    font-size: 30px;
}
#result{
    font-size: 20px;
}
#result2{
    font-size: 20px;
}
#result3{
    font-size: 20px;
}
.Odai{
    font-weight: bolder;
    font-size: 30px;
}
